:root {
    --coral: #F05D5E;
    --teal: #0F7173;
    --light: #E7ECEF;
    --dark: #272932;
    --camel: #D8A47F;
}

body {
    background-color: var(--light);
}

h1 {
    font-size: 2.25rem;
}

p {
    font-size: 0.75rem;
}

.nav_bar{
    width: 100%;
    height: 1px;
    left: 0;
    font-size: 1.5rem;
    color: blue;

}

.menu{
    list-style-type:none;
    display: flex;
    
}

a:link{
    color:blue;

}

a:visited{
    color: blue;
}

a:hover{
    color: gray;
    ;
}

a:active{
    color: lightgoldenrodyellow;
}


.card-container {
    width: 95%;
    height: auto;
    display: flex;
    flex-flow: row wrap;

}

.card {
    padding: 10px;
    margin: 10px;
}

img {
    width: 250px;
}

@media (min-width:700px) {
    p {
        font-size: 1.25rem;
    }

    h1 {
        font-size: 2.75rem;
    }
}

@media (min-width:1000px) {
    p {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 3.0rem;
    }
}

@media (min-width:400px) {
    p {
        font-size: 2.0rem;
    }

    h1 {
        font-size: 5.0rem;
    }
}

@media only screen and (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark);
        color: var(--light);
    }
}